@import "../../variables";
@import "../../mixins";

h3.footer_links_h3 {
    @include font($font-family-rambla, 700, 17px, 20px, left, white);
    text-transform: uppercase;
    padding-top: 32px;
}

li.footer_links_li {
    @include font($font-family-rambla, 400, 13px, 15px, left, #c4c7ca);
    text-transform: capitalize;
    padding-top: 16px;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: white;
    }
}

