@import "../../../variables";
@import "../../../mixins";

.reviews {
    @include flex(column, center, center, 3.2rem);
    /* width: 85%; */
    padding-top: 6rem;
    padding-bottom: 6rem;
    transition: all 1s ease-in-out;
    opacity: 0;
    transform: translateY(25%);

    &.visible {
        opacity: 1;
        transform: translateY(0);
      }

    &_container {
        @include flex(column, center, center, 0);
        text-align: center;
        width: 90%;
    }

    &_h2 {
        @include font($font-family-asul, 700, clamp(1.5rem, 10vw, 2.8rem), 2.5rem, left, $color-text-heading-grey);
        text-transform: uppercase;
    }

    &_p {
        @include font($font-family-rambla, 400, clamp(1.2rem, 4vw, 2.2rem), 2.7rem, center, $color-text-grey);
        padding-top: 4px;
    }

    &_carousel {
        @include flex(row, center, space-between, 0.5%);
        width: 85%;
        transition: transform 0.4s ease-in-out;

        &_items {
            width: 100%;
            display: flex;
            gap: 5%;
            overflow-x: hidden;
            padding-top: 10px;
        }

        &_arrow {
            @include font($font-family-rambla, 200, 40px, 22px, left, $color-text-grey);
        }
    }

    &_review {
        background-color: $color-review-background;
        padding: 2.4rem;
        width: 100%;
        flex-shrink: 0;
        transition: transform 0.2s ease-in-out;

        &_top_row {
            @include flex(row, center, flex-start, 0px);

            &_avatar {
                background-color: aqua;
                border-radius: 50%;
                text-transform: uppercase;
                width: 5rem;
                height: 5rem;
                margin: 1rem;
                margin-left: 0px;
                @include font($font-family-rambla, 400, 24px, 20px, left, white);
            }

            &_p.name {
                @include font($font-family-rambla, 700, 15px, 21px, left, black);
            }

            &_p.date {
                color: $color-text-grey;
                @include font($font-family-rambla, 400, 12px, 17px, left, $color-text-grey);
            }
        }

        &_review {
            @include font($font-family-rambla, 400, 14px, 20px, left, black);
            height: 8rem;
            overflow-y: scroll;
            padding-right: 16px;
        }

        &:hover {
            transform: translateY(-4px);
        }
    }
}

::-webkit-scrollbar {
    width: 4px; /* Set the width of the scrollbar */

    &-track {
        background: #88888831; /* Set the background color of the scrollbar track */
    }

    &-thumb {
        background: #888; /* Set the color of the scrollbar handle */

        &:hover {
            background: #555; /* Set the color of the scrollbar handle on hover */
        }
    }
}



