@import "../../variables";
@import "../../mixins";


.property-details-section {
    position: relative;
    overflow: auto;
    
}

.property-details-body {
    position: relative;
    width: 60%;
    padding: 8px;
    // padding-right: 28px;
    padding-left: $body-left-right-padding-clamp-main;
    padding-right: $body-left-right-padding-clamp-main;

    &-container {
        margin-bottom: 32px;

        &-amenities {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Three columns */
            grid-gap: 10px; /* Adjust as needed */
        }

        &-button {  
            justify-content: center;
            display: none;
            width: 100vw;
            position: sticky;
            bottom: 8px;
            z-index: 9997;
            margin-bottom: 4px;
            
            &-button {
                background-color: black; 
                padding: 8px;
                text-transform: uppercase;
                border: none;
                @include font($font-family-rambla, 400, 15px, 18px, center, white);
                flex-grow: 1;
                margin: 0 $body-left-right-padding-clamp-main; ;
              }
        }
    }

    &-h3 {
        @include font($font-family-rambla, 700, 20px, 20px, left, $search-red);
        padding-bottom: 16px;
    }

    &-p {
        @include font($font-family-rambla, 400, 16px, 19px, left, $color-text-heading-grey);
        padding-bottom: 12px;

        &-amenity {
            @include font($font-family-rambla, 400, 16px, 19px, left, $color-text-heading-grey);
            padding-left: 0;
            margin: 0px;
        }

        &-span {
            font-weight: 700;
            padding-right: 4px;
        }
    }

    &-contact-consultant {
        position: sticky;
        top: 0;
        right: 40px;
        
    }
}

@media screen and (max-width: 900px) {
    .property-details-body {
        width: 100%;

        &-contact-consultant.contact-consultant {
        display: none;
        }

        &-container-button {
            display: flex;
        }
    }  

}
