@import "../../../variables";
@import "../../../mixins";

.sell_property {
    @include backgroundImage('sell_property.png');
    height: 50rem;
    @include flex(column, flex-start, center, 0);

    color: white;

    &_container {
        @include flex(column, flex-start, center, 2rem);
        margin-left: 15rem;
        width: 50rem;
        transition: all 1s ease-in-out;
        opacity: 0;
        transform: translateY(25%);

        &.visible {
            opacity: 1;
            transform: translateY(0);
          }


        &_h3 {
            @include font($font-family-asul,  700, clamp(2.6rem, 1vw + 1.25rem, 3rem), 3.6rem, left, white);
        }

        &_p {
            @include font($font-family-rambla, 400, clamp(1.6rem, 1vw + 0.75rem, 2.2rem), 1.9rem, left, white);
            width: auto;
        }

        &_btn {
            @include font($font-family-rambla, 400, 16px, 16px, left, white);
            padding: 16px 28px;
            cursor: pointer;
            text-transform: uppercase;
            background-color: transparent;
            border: 1px solid white;
            width: fit-content;
    
            &:hover {
                background-color: white;
                color: black;
                transition: background-color 0.4s ease, color 0.4s ease;
            }
    
            &:not(:hover) {
                transition: all 0.4s ease;
            }
        }
    }
}


@media screen and (max-width: 100rem) {
    .sell_property_container {
        margin-left: 10rem;
    }
}

@media screen and (max-width: 80rem) {
    .sell_property_container {
        margin-left: 6rem;
        width: 70%;
        
    }
    .sell_property {
        @include backgroundImage('sell_property_cropped_right.png');
        background-position: right;
    }
}

// @media screen and (max-width: 70rem) {
//     .sell_property {
//         // height: 40rem;
//     }
// }

// @media screen and (max-width: 50rem) {
//     .sell_property {
//         // height: 50rem;
//     }
// }