h3.footer_links_h3 {
    font-family: var(--font-family-rambla);
    font-weight: 700;
    line-height: 20px;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    padding-top: 32px;
}

li.footer_links_li {
    color: #c4c7ca;
    text-transform: capitalize;
    font-family: var(--font-family-rambla);
    font-weight: 400;
    line-height: 13px;
    font-size: 15px;
    padding-top: 16px;
}

