@import "../../variables";
@import "../../mixins";

.sell_property {
    @include backgroundImage('sell_property.png');
    height: 500px;
    @include flex(column, flex-start, center, 0);

    color: white;

    &_container {
        @include flex(column, flex-start, center, 20px);
        margin-left: 150px;
        width: 500px;

        &_h3 {
            @include font($font-family-asul,  700, 30px, 36px, left, white);
        }

        &_p {
            @include font($font-family-rambla, 400, 16px, 19px, left, white);
            width: auto;
        }
    }
}


