@import "../../../variables";
@import "../../../mixins";

.why {
    @include flex(column, center, center, 32px);
    padding-top: 60px;
    padding-bottom: 80px;

    &_text {
        @include flex(column, center, center, 32px);
        padding-bottom: 32px;
        transition: all 1s ease-in-out;
        opacity: 0;
        transform: translateY(25%);

        &.visible {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &_components {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 52px;
        width: 90%;
        padding-bottom: 60px;
        transition: all 1s ease-in-out;
        opacity: 0;
        transform: translateY(25%);

        &.visible {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &_h2 {
        @include font($font-family-asul, 700, 21px, 25px, left, $color-text-heading-grey);
    }

    &_p {
        @include font($font-family-rambla, 400, 22px, 27px, center, $color-text-grey);
        // width: 60%;
    }

    &_button {
        @include font($font-family-rambla, 400, 16px, 16px, left, black);
        padding: 16px 28px;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 1s ease-in-out;
        opacity: 0;
        transform: translateY(25%);

        &.visible {
            opacity: 1;
            transform: translateY(0);
          }

        &.white {
            background-color: white;
            color: black;
            border: 1px solid black;

            &:hover {
                background-color: black;
                color: white;
                transition: background-color 0.4s ease, color 0.4s ease;
            }

            &:not(:hover) {
                transition: all 0.4s ease;
            }
        }
    }
}

