@import "../../variables";
@import "../../mixins";

.navbar {
    @include flex(row, center, space-between, 0px);
    font-family: $font-family-rambla;
    width: 100%;
    height: 100px;
    padding-top: 28px;
    position: fixed;
    z-index: 9998;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar.scrolled {
    background-color: white;
    color: $color-text-heading-grey;
  }
    
.home_navbar,
.contact_navbar {
    padding-left: 40px;
    padding-right: 40px;
}

.logo {
    width: 200px;
    position: relative;
    z-index: 4;
}


.burger-menu {
    display: none; /* Initially hide burger menu */
    /* Styles for burger menu icon */
}
.nav_overlay {
    @include overlay(white);
    z-index: 9999;
    // color: green;
    @include flex(column, center, flex-start, 0);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: -100vh; /* Initially position the overlay above the viewport */
    left: 0;
    transition: top 0.3s ease-in-out;
    display: none; /* Initially hide the overlay */

    &_top {
        @include flex(row, flex-start, space-between, 0);
        padding: 20px;
        width: 100%;
    }

    &.overlay-visible {
        top: 0;
        display: flex;
    }
}

.close_icon {
    height: 40px;
}


@media screen and (max-width: 950px) {
    .main_navbarlinks {
        display: none; /* Hide links container when viewport width is less than 950px */
    }
    .burger-menu {
        display: block; /* Show burger menu icon */
        cursor: pointer;
    }
}

