@import "../../variables";
@import "../../mixins";

.navbar {
    @include flex(row, center, space-between, 0px);
    font-family: $font-family-rambla;
    width: 100%;
    z-index: 10;
    position: relative;
    padding-top: 28px;
    padding-left: 28px;
    padding-right: 28px;
}

.logo {
    width: 200px;
    position: relative;
    z-index: 4;
}

.links_ul {
    display: flex;
    font-size: 16px;
}

.links_ul li {
    cursor: pointer;
    margin-right: 32px;
}