@import "../../variables";
@import "../../mixins";

.navbar {
    @include flex(row, center, space-between, 0px);
    font-family: $font-family-rambla;
    width: 100%;
    z-index: 10;
    position: relative;
    padding-top: 28px;
    position: sticky;
    top: 0px;
    z-index: 9998;
}

.home_navbar,
.contact_navbar {
    padding-left: 40px;
    padding-right: 40px;
}

.logo {
    width: 200px;
    position: relative;
    z-index: 4;
}

.links_ul {
    display: flex;
    font-size: 16px;
}

.links_ul li {
    cursor: pointer;
    margin-left: 32px;
}


div.scrolled {
    background-color: white;
    color: $color-text-heading-grey;
    // background-color: yellow;
}

div.not_scrolled {
    // background-color: green;
    // position: absolute;
    height: 0;
    padding-top: 0px;
    transform: translateY(60px);
    color: white;
}

