@import "../../../variables";
@import "../../../mixins";


.services_h2 {
    @include font($font-family-asul, 700, 21px, 25px, left, #333);
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 60px;
}

.home_serviceBlock {
    display: flex;
    width: 80%;
    overflow: hidden;
    height: 275px;
    margin-bottom: 16px;

    &_text {
        display: flex;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
        gap: 16px;
        width: 50%;

        &.l {
            background-color: #585f68;
        }

        &_h3 {
            @include font($font-family-asul, 700, 16px, 19px, left, white);
            text-transform: uppercase;
            padding-left: 30px;

            &.l {
                color: white;

            }

            &.r {
                color: #333;
            }
        }
                
        &_p {
            @include font($font-family-rambla, 400, 16px, 19px, left, $color-text-grey);
        }


        &_holder {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 20px;
                height: 1px;
                background-color: $search-red;
            }
        }
    }

    &_image {
        width: 50%;

        &_image {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &.l {
        flex-direction: row;
        // color: green;
    }

    &.r {
        flex-direction: row-reverse;
    }

    &_button {
        text-transform: uppercase;
        background-color: transparent;
        padding: 12px 24px;
        width: fit-content;

        &.l {
            border: solid 1px white;
            @include font($font-family-rambla, 400, 15px, 18px, center, white);
            
            &:hover {
                background-color: white;
                color: black;
                transition: all 0.4s ease;
            }

            &:not(:hover) {
                transition: all 0.4s ease;
            }
        }

        &.r {
            border: solid 1px black;
            @include font($font-family-rambla, 400, 15px, 18px, center, black);

            &:hover {
                background-color: $color-nearly_black;
                color: white;
                transition: all 0.4s ease;
            }

            &:not(:hover) {
                transition: all 0.4s ease;
            }
        }
    }
}