@import "../../../variables";
@import "../../../mixins";

.hero_section {
    @include backgroundImage('hero_img.jpeg');
    height: 800px;
    position: relative;
    @include flex(column, center, center, 0);
    color: white;

    &_text {
        height: 100%;
        width: 100%;
        z-index: 2;
        position: relative;
        @include flex(column, center, center, 0);
        transition: all 1s ease-in-out;
        opacity: 0;
        transform: translateY(25%);

        &.visible {
            opacity: 1;
            transform: translateY(0);
          }

        &_text {
            height: 100%;
            width: 100%;
            z-index: 2;
            position: relative;
        }
        &_h1 {
            // @include font($font-family-asul, 700, 6rem, 7.2rem, center, white);
            @include font($font-family-asul, 700, clamp(2rem, 6vw, 6rem), 7.2rem, center, white);
            // font-size: 6rem;
            text-transform: uppercase;
            z-index: 2;
            padding-bottom: 16px;
            
        }
        &_p {
            font-size: clamp(1rem, 2vw + 0.75rem, 2rem);
            // font-size: 24px;
            text-align: center;
            width: 50%;
        }
    }
}

.bg_container::before {
    @include overlay($linear-gradient-to-bottom-05-02); 
}
.bg_container::after {
    @include overlay(#59595934); 
}

.home_filter {
    background-color: white;
    /* height: 150px; */
    width: 80%;
    @include flex(row, center, center, 0px);
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 20px;
    box-shadow: $box-shadow-01;

    &_label {
        padding-bottom: 16px;
    }

    &_search_text {
        padding: 16px;
    }
}

@keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }


  @media screen and (max-width: 1100px) {
    .home_filter {
        width: 90%;
    }
  }

  @media screen and (max-width: 1000px) {
    .home_filter {
        width: 100%;
    }
  }


  @media screen and (max-width: 950px) {

    .hero_section_text_p {
        width: 80%;
    }
    .hero_section {
        height: 700px;
    }
}

@media screen and (max-width: 900px) {
    .filter_form_container {
        width: 125px;
        justify-content: space-evenly;

        &.double {
            width: 200px;
        }
    }
}


@media screen and (max-width: 800px) {
    .filter_form_container {
        width: 100px;

        &.double {
            width: 200px;
        }
    }
    .hero_section {
        height: 600px;
    }
}
  
@media screen and (max-width: 700px) {
    .price-dropdowns {
        flex-direction: column;
    }
    .filter_form_container {
        &.double {
            width: 100px;
        }
    }
}
  
@media screen and (max-width: 600px) {

    .filter_form_container {
        width: 90px;
    }
}

@media screen and (max-width: 700px) {
    .filter_form_container {
        width: 150px;
    }
    .filter_form_container.property_type,
    .filter_form_container.select_price {
        display: none;;
    }
}

@media screen and (max-width: 500px) {
    .filter_form_container {
        width: 125px;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .filter_form_container {
        width: 100px;
        justify-content: center;
    }
}