.filter {
    background-color: white;
    /* height: 150px; */
    width: 80%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -75px;
    left: 10%;
    z-index: 4;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: var(--box-shadow-01);
}

.form {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
}

label {
    font-family: var(--font-family-rambla);
    font-size: 14px;
    color: #565e69;
    font-weight: 800;
}

select {
    font-family: var(--font-family-rambla);
    font-size: 18px;
    color: #999;
    width: 150px;
    border: none;
}

button.filter_search {
    background-color: var(--search-red);
    color: white;
    height: 32px;
    padding: 12px 24px;
    font-family: var(--font-family-rambla);
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    border: none;
    border-radius: 50px;
    
}

div.filter_search_text {
    padding: 16px;
}

div.divider {
    border-right: solid 1px #565e69;
    margin-right: 8px;
}

label.filter_label {
    padding-bottom: 16px;
}

select.select_price {
    border: solid 1px var(--color-review-background);
    width: 120px;
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Standard */
    background-image: url('../../assets/icon_angle_down.svg');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px; /* Adjust as needed */
}

select.no_icon {
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Standard */
}