@import "../../variables";
@import "../../mixins";


.search-bar {   
    width: 100%;
    @include flex(row, flex-start, flex-start, 0px);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    
    &_icon {
        padding-right: 12px;
    }

    &_input {
        border: none;

        &:focus {
            outline: none;
        }
    }


}