.reviews {
    height: 600px;
}

h2.reviews_h2 {
    color: var(--color-text-heading-grey)
}

p.reviews_p {
    color: var(--color-text-grey)
}

div.reviews_carousel {
    display: flex;
    flex-direction: row; 
    gap: 12px;
}

div.reviews_carousel_left,
div.reviews_carousel_right {
    color: var(--color-text-grey);
    font-family: var(--font-family-rambla);
    font-weight: 200;
    line-height: 20px;
    font-size: 40px;
}

div.reviews_review {
    background-color: var(--color-review-background);
    width: 200px;
    padding: 24px;
    width: 200px;
}

div.reviews_review_top_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.reviews_review_top_row_avatar {
    background-color: aqua;
    color: white;
    border-radius: 50%;
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-left: 0px;
    font-family: var(--font-family-rambla);
    font-weight: 400;
    line-height: 20px;
    font-size: 24px;
}

p.reviews_review_top_row_p.name {
    font-family: var(--font-family-rambla);
    font-weight: 700;
    line-height: 21px;
    font-size: 15px;
}

p.reviews_review_top_row_p.date {
    color: var(--color-text-grey);
    font-family: var(--font-family-rambla);
    font-weight: 400;
    line-height: 17px;
    font-size: 12px;
}

div.reviews_review_review {
    font-family: var(--font-family-rambla);
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
}