@import "../../variables";
@import "../../mixins";

.footer {
    &_top {
        background-color: #575f69;
        height: auto;
        padding-top: 40px;
        padding-bottom: 60px;

        &_main {
            @include flex(row, flex-start, space-between, 0px);
            width: 70%;

            &_3_h3 {
                @include font($font-family-rambla, 700, 17px, 20px, left, white);
                text-transform: uppercase;
                padding-top: 32px;
            }

            &_3_group {
                padding-bottom: 24px;
            }

            &_3_contact {
                @include font($font-family-rambla, 400, 15px, 13px, left, #c4c7ca);
                text-transform: capitalize;
                padding-top: 10px;
            }

            &_3_contact_socials {
                @include flex(row, center, flex-start, 16px);
                padding-top: 40px;
            }
        }

        &_copyright {
            @include font($font-family-rambla, 700, 12px, 14px, left, #e6f0e6);
            margin-top: 32px;
        }

        &_policies {
            @include font($font-family-rambla, 400, 14px, 12px, left, #c4c7ca);
            margin-top: 32px;

            &_ui {
                @include flex(row, center, center, 32px);
            }
        }
    }

    &_bottom {
        background-color: #464e56;
        height: 100px;
    }
}

.social_media_logo {
    width: 50%; /* Scale SVG image to container width */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;

    &.facebook {
        width: 30%; /* Scale SVG image to container width */
    }
}

.svg-container {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    overflow: hidden; 
    background-color: #c4c7ca;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    &:hover img {
        transform: scale(1.05);
    }

}

@media screen and (max-width: 1100px) {
    .footer_top_main {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .footer_top_main {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .footer_top_main {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
