@import "../../../variables";
@import "../../../mixins";

.locations {
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 120px;
    gap: 40px;

    &_top {
        // @include flex(column, center, center, 36px);
        width: 60%;

        &_h2 {
            text-transform: uppercase;
            @include font($font-family-asul, 700, 21px, 25px, center, $color-text-heading-grey);
        }

        &_p {
            @include font($font-family-rambla, 400, 22px, 27px, center, $color-text-grey);
        }
    }

    &_controllers {
        width: 5%;
    }

    &_elements {
        @include flex(row, flex-start, flex-start, 1%);
        width: 90%;
        flex-shrink: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    &_element {
        // position: relative;
        height: 500px;
        overflow: hidden;

        &_img_container {
            width: 150px;   
            position: relative;
            width: 100%;
            @include flex(column, center, center, 0px);
    
            &::before {
                @include overlay($linear-gradient-to-bottom-00-07); 
            }

            &_img {
                width: 100%;
                height: 500px;
                object-fit: cover;
        
                &s_row {
                    position: relative;
                    justify-content: space-between;
                    width: 100%;
                }
        
            }
        }

        &_text_container {
            top: 0; 
            transform: translateY(-80px);
            @include flex(column, center, center, 0px);
            
            &_h3_container {
                height:80px;
                @include flex(column, center, flex-start, 0px);
            }


            &_text {
                @include font($font-family-asul, 700, 30px, 36px, center, white);
                color: white;
            }

            &_button {
                @include font($font-family-rambla, 400, 16px, 16px, center, transparent);
                padding: 8px 16px;
                cursor: none; 
                border: none;
                background: transparent;
                
            }
        }

        &:hover .locations_element_text_container {
            transform: translateY(-200px);
            transition: all 0.6s ease-in-out;
        }

        &:not(:hover) .locations_element_text_container {
            transition: all 0.6s ease-in-out;
        }

        &:hover .locations_element_text_container_button {
            color: white;
            cursor: pointer; 
            border: 1px solid white;
            transition: all 0.6s ease-in-out;

            &:hover {
                background-color: white;
                color: black;
                transition: all 0.4s ease;
            }
    
            &:not(:hover) {
                transition: all 0.4s ease;
            }
        }

        &:not(:hover) .locations_element_text_container_button {
            transition: all 0.6s ease-in-out;
        }
    }
}


