div.serviceBlock {
    display: flex;
    width: 80%;
    overflow: hidden;
    height: 275px;
    margin-bottom: 16px;
}

div.serviceBlock_text_holder {
    position: relative;
}

div.serviceBlock_text_holder::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 20px;
    height: 1px;
    background-color: #ed1943;
}


div.serviceBlock_text,
div.serviceBlock_image {
    width: 50%;
    
}

div.serviceBlock_text {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 16px;
}

img.serviceBlock_image_image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

div.serviceBlock.l {
    flex-direction: row;
}

div.serviceBlock.r {
    flex-direction: row-reverse;
}

div.serviceBlock_text.l {
    background-color: #585f68;
}

h3.serviceBlock_text_h3 {
    text-transform: uppercase;
    padding-left: 30px;
}

h3.serviceBlock_text_h3.l {
    color: white;
}


h3.serviceBlock_text_h3.r {
    color: #333;
}

p.serviceBlock_text_p {
    color: #999;
}