@import "../variables";
@import "../mixins";

.background_header.locations {
    @include backgroundImagePage('locations.jpg');
    height: 500px;
}

.locations_page_properties {
    background-color: $color-background-medium-grey;
    height: 250px;
    @include flex(column, center, center, 0px);

    &_button {
        text-transform: uppercase;
        background-color: transparent;
        padding: 12px 24px;
        border: solid 1px $color-text-grey;
        @include font($font-family-rambla, 400, 15px, 18px, center, $color-text-grey);
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $color-why-background;
            color: white;
            border: solid 1px $color-why-background;
        }
    }
}

.locations_serviceBlock {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 600px;
    // margin-bottom: 16px;

    &_text {
        // display: flex;
        // justify-content: center;
        @include flex(column, flex-start, center, 16px);
        padding-left: 50px;
        padding-right: 50px;
        // gap: 16px;
        width: 40%;

        &_h3 {
            text-transform: uppercase;
            @include font($font-family-rambla, 700, 28px, 33px, left, $color-text-heading-grey);

        }
                
        &_p {
            @include font($font-family-rambla, 400, 19px, 23px, left, $color-text-heading-grey);
            width: 75%;
        }
    }

    &_image {
        width: 60%;

        &_image {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &.l {
        flex-direction: row;
        // color: green;
    }

    &.r {
        flex-direction: row-reverse;
    }

    &_button {
        width: fit-content;
        text-transform: uppercase;
        background-color: transparent;
        padding: 12px 24px;
        border: solid 1px $color-text-grey;
        @include font($font-family-rambla, 400, 15px, 18px, center, $color-text-grey);
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $color-background-medium-grey;
            color: white;
            border: solid 1px $color-background-medium-grey;
        }
    }
}

@media screen and (max-width: 1350px) {
    .locations_serviceBlock_text_p {
        width: 90%;
    }
}

@media screen and (max-width: 1250px) {
    .locations_serviceBlock {
        height: 500px;
    }

    .locations_serviceBlock_text {

        padding-left: 25px;
        padding-right: 25px;

        &_p {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .background_header.locations {
        @include backgroundImagePage('locations-cropped.jpg');
        height: 500px;
    }
}

@media screen and (max-width: 1000px) {
    .locations_serviceBlock {
        height: fit-content;
        margin-top: 40px;
        width: 85%;

        &.l, &.r {
            @include flex(column, center, center, 16px);
            width: 100%;
        }

        &_text {
            width: 100%;
            height: fit-content;
            align-items: center;

            &_h3.l {
                text-align: center;
            }

            &_p {
                text-align: center;
                width: 85%;
            }
        }

        &_text.l {
            width: 100%;
            height: fit-content;
        }

        &_image {
            width: 85%;
        }
    }
}

@media screen and (max-width: 650px) {
.locations_serviceBlock {
        width: 85%;

        &_text {
            &_p {
                width: 98%;
            }
        }

        &_text.l {
            width: 100%;
        }

        &_image {
            width: 100%;
        }
    }
}