@import "../variables";
@import "../mixins";

.background_header.services {
    @include backgroundImagePage('services-header.jpg');
    height: 500px;
}

.services_info {
    @include flex(column, center, center, 44px);
    background-color: $color-background-medium-grey;
    color: white;
    width: 100%;
    padding: 80px;

    &_h2 {
        text-transform: uppercase;
        @include font($font-family-asul, 700, 21px, 25px, center, white);
        width: 300px;
    }

    &_p {
        @include font($font-family-rambla, 400, 16px, 19px, center, white);
        text-align: center;
        width: 700px;
    }

    &_button {
        @include font($font-family-rambla, 400, 15px, 18px, center, white);
        text-align: center;
        padding: 16px 32px;
        background-color: transparent;
        border: 1px solid white;
        text-transform: uppercase;
        border-radius: 2px;
        transition: all 0.4s ease-in-out;
        
        &:hover {
            background-color: white;
            color: black;

        }
    }
}

.services_serviceBlock {

    &_text {
        @include flex(row, flex-start, center, 28px);
        padding-left: 8%;

        &.r {
           @include flex(column, flex-end, center, 28px); 
           padding-right: 8%;

           & > h3 {
            text-align: right;
           }

           & > p {
            text-align: right;
           }
        }

        &_h3.r {
            text-align: right;
        }
    }

    &_button {
    text-transform: uppercase;
    padding: 16px 32px;
    width: fit-content;
    background-color: transparent;
    color: $color-nearly_black;
    border: solid 1px $color-nearly_black;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: $color-nearly_black;
        color: white;
    }
    }
}