@import "../../variables";
@import "../../mixins";

.home_whyBlock {
    @include flex(row, flex-start, space-between, 0px);
    // display: flex;
    // flex-direction: row;
    width: 100%;
    background-color: $color-why-background;

    &_text {
        @include flex(column, flex-start, center, 24px);
        width: 100%;
        color: $color-text-heading-grey;
        padding-left: 24px;
        padding-right: 24px;
        

        &_h3 {
            text-transform: uppercase;
            padding-top: 40px;
            font-size: 2rem;
            @include font($font-family-asul, 700, clamp(1.5rem, 10vw, 2rem), 25px, left, $color-text-heading-grey);
        }

        &_p {
            @include font($font-family-rambla, 400, clamp(1.6rem, 4vw, 1.6rem), 2rem, left, $color-text-heading-grey);
        }
    }
}


@media screen and (max-width: 700px) {
    .home_whyBlock {
      flex-direction: column;
      width: 100%;

      &_img {
        width: 100%;
        height: 40rem;
      }

      &_text {
        padding-bottom: 2rem;
      }
    }
  }
