@import "../../variables";
@import "../../mixins";

.whyBlock {
    @include flex(row, flex-start, space-between, 0px);
    // display: flex;
    // flex-direction: row;
    width: 100%;
    background-color: $color-why-background;

    &_text {
        @include flex(row, flex-start, center, 24px);
        width: 100%;
        color: $color-text-heading-grey;
        padding-left: 24px;
        padding-right: 24px;

        &_h3 {
            text-transform: uppercase;
            padding-top: 40px;
        }
    }
}

