div.whyBlock {
    display: flex;
    flex-direction: row;
    width: 600px;
}

div.why_text {
    width: 100%;
    color: var(--color-text-heading-grey);
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left: 24px;
}

h3.why_text_h3 {
    text-transform: uppercase;
}