@import "../../variables";

.whyBlock {
    display: flex;
    flex-direction: row;
    width: 600px;

    &_text {
        width: 100%;
        color: $color-text-heading-grey;
        display: flex;
        justify-content: center;
        gap: 24px;
        padding-left: 24px;

        &_h3 {
            text-transform: uppercase;
        }
    }
}

