@import "../../variables";

div.why {
    /* height: 1000px; */
    display: flex;
    gap: 70px;
    padding-top: 60px;
    padding-bottom: 80px;

    &_components {
        flex-wrap: wrap;
        width: 90%;
        gap: 40px;
    }

    &_h2 {
        font-family: $font-family-asul;
        font-weight: 700;
        line-height: 25px;
        font-size: 21px; 
    }

    &_p {
        font-family: $font-family-rambla;
        font-weight: 400;
        line-height: 27px;
        font-size: 22px; 
        width: 60%;
        text-align: center;
    }
}

