@import "../../../variables";
@import "../../../mixins";

.realEstate {
    @include backgroundImage('real_estate_bg.png');
    @include flex(column, flex-start, center, 0);
    height: 500px;
    color: white;
    position: relative;
    
    &::after {
        @include overlay($linear-gradient-to-right-02-01);
        z-index: 1; 
    }

    &_h2 {
        @include font($font-family-asul, 700, 30px, 36px, left, white);
        text-transform: uppercase;
    }

    &_p {
        @include font($font-family-rambla, 400, 16px, 19px, left, white);
    }

    &_container {
        @include flex(column, flex-start, center, 24px);
        margin-left: 160px;
        padding-bottom: 24px;
        height: fit-content;
        width: 400px;
        z-index: 5;
        position: relative;
    }

    &_button {
        @include font($font-family-rambla, 400, 16px, 16px, left, white);
        padding: 16px 28px;
        cursor: pointer;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid white;
        width: fit-content;
        margin-left: 160px;

        &:hover {
            background-color: white;
            color: black;
            transition: background-color 0.4s ease, color 0.4s ease;
        }

        &:not(:hover) {
            transition: all 0.4s ease;
        }
    }
}

@media screen and (max-width: 1050px) {
    .realEstate_container, .realEstate_button {
        margin-left: 100px;
    }
}

@media screen and (max-width: 750px) {
    .realEstate_container, .realEstate_button {
        margin-left: 60px;
    }
}

@media screen and (max-width: 600px) {
    .realEstate_container, .realEstate_button {
        margin-left: 4rem;
    }
}

@media screen and (max-width: 500px) {
    .realEstate_container, .realEstate_button {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .realEstate_container {
        width: 90%;
    }

    .realEstate_p {
        width: 100%;
    }
}