@import "../../variables";
@import "../../mixins";


.filter {
    &_form {
        @include flex(row, center, flex-start, 12px);
        position: relative;

        &_container {
            @include flex(column, flex-start, flex-start, 0px);

            &_label {
                @include font($font-family-rambla, 800, 14px, 14px, left, #565e69);
            }

            &_select {
                @include font($font-family-rambla, 400, 18px, 18px, left, #999);
                width: 150px;
                border: none;
            }
        }
    }
}


button.filter_search {
    background-color: $search-red;
    height: 32px;
    padding: 12px 16px;
    @include font($font-family-rambla, 700, 15px, 15px, left, white);
    border: none;
    border-radius: 50px;
}

div.divider {
    border-right: solid 1px #565e69;
    margin-right: 8px;
}


select.select_price {
    border: solid 1px $color-review-background;
    width: 90px;
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Standard */
    background-image: url('../../assets/icon_angle_down.svg');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px; /* Adjust as needed */
}

select.no_icon {
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Standard */
}

select.filter_select:focus {
    outline: none; /* Remove outline */
    border: none; /* Remove border */
}

div.price-dropdowns {
    gap: 16px;
    padding-right: 20px;
}

select {
    position: relative;
    appearance: none; /* remove brower defaults */
    /* padding-top: 20px; */
} 

option {
    position: absolute;
    top: 100%; /* Position below the select element */
    left: 0; /* Align with the left edge of the select element */
    width: 150%; /* Full width of the select element */
    z-index: 1; /* Ensure options appear above other content */
    /* display: none; */
    color: $color-text-heading-grey;
    padding: 10px;
    height: 100px;
    padding-top: 20px;
}

/* Display options when select is focused */
/* select:focus option {
    /* display: block; Display options when select is focused */
    /* color: green; */
    /* height: 100px; */
    /* padding-top: 20px; */
    /* line-height: 20px; */
/* } */

/* select option:hover::after{
    color: red;
} */

.filter_select {
    border: none;
}
